openapi: 3.1.0
info:
  title: Adios public API
  version: 1.0.0
  description: Reviewed core customer-facing API. Header and custom operation contracts
    follow the public Postman catalog.
servers:
- url: https://api.adios.dev
  description: Production
paths:
  /v1/team:
    get:
      operationId: public_get_v1_team
      tags:
      - Teams
      summary: List teams
      description: Returns a paginated list of Team
      security:
      - BearerAuth: []
      parameters:
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      - in: query
        name: page
        required: false
        description: Page number
        schema:
          type: integer
          default: 1
          minimum: 1
      - in: query
        name: per_page
        required: false
        description: Items per page
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: List of Team
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        created_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                        deleted_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                          default: 0
                        description:
                          type: string
                          default: ''
                          maxLength: 500
                        owner_id:
                          type: string
                          format: ksuid
                        parent_id:
                          type: string
                          format: ksuid
                        status:
                          type: string
                          default: active
                          enum:
                          - active
                          - inactive
                          - suspended
                          - deleted
                        team_id:
                          type: string
                          format: ksuid
                        title:
                          type: string
                          minLength: 2
                          maxLength: 50
                        updated_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                      required:
                      - team_id
                      - owner_id
                      - title
                      - status
                      - created_at
                      - updated_at
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page number
                      per_page:
                        type: integer
                        description: Number of items per page
                      total:
                        type: integer
                        description: Total number of items
              example:
                data:
                - created_at: 1791072000
                  deleted_at: 0
                  description: ''
                  owner_id: '000000000000000000000000001'
                  parent_id: '000000000000000000000000001'
                  status: active
                  team_id: '000000000000000000000000001'
                  title: Postman example
                  updated_at: 1791072000
                pagination:
                  page: 1
                  per_page: 1
                  total: 1
    post:
      operationId: public_post_v1_team
      tags:
      - Teams
      summary: Create team
      description: 'Creates a new Team


        This request changes data or starts an action. Review the target and body
        before sending it.


        Request fields (the body contains an editable example):


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | `description` | string | no |  Default: `""`. |

        | `owner_id` | string | yes |  |

        | `parent_id` | string | no |  |

        | `status` | string | yes |  Allowed: active, inactive, suspended, deleted.
        Default: `"active"`. |

        | `title` | string | yes |  |'
      security:
      - BearerAuth: []
      parameters:
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Team model
              properties:
                description:
                  type: string
                  default: ''
                  maxLength: 500
                owner_id:
                  type: string
                  format: ksuid
                parent_id:
                  type: string
                  format: ksuid
                status:
                  type: string
                  default: active
                  enum:
                  - active
                  - inactive
                  - suspended
                  - deleted
                title:
                  type: string
                  minLength: 2
                  maxLength: 50
              required:
              - owner_id
              - title
              - status
            example:
              owner_id: YOUR_USER_ID
              title: Postman example team
              status: active
      responses:
        '201':
          description: Team created
          content:
            application/json:
              schema:
                type: object
                description: Team model
                properties:
                  created_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  deleted_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                    default: 0
                  description:
                    type: string
                    default: ''
                    maxLength: 500
                  owner_id:
                    type: string
                    format: ksuid
                  parent_id:
                    type: string
                    format: ksuid
                  status:
                    type: string
                    default: active
                    enum:
                    - active
                    - inactive
                    - suspended
                    - deleted
                  team_id:
                    type: string
                    format: ksuid
                  title:
                    type: string
                    minLength: 2
                    maxLength: 50
                  updated_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                required:
                - team_id
                - owner_id
                - title
                - status
                - created_at
                - updated_at
              example:
                created_at: 1791072000
                deleted_at: 0
                description: ''
                owner_id: '000000000000000000000000001'
                parent_id: '000000000000000000000000001'
                status: active
                team_id: '000000000000000000000000001'
                title: Postman example
                updated_at: 1791072000
  /v1/team/{id}:
    get:
      operationId: public_get_v1_team_id
      tags:
      - Teams
      summary: Get team
      description: 'Returns a single Team


        Set `team_id` using IDs from your own API responses.'
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        description: Resource identifier from your team's API results.
        schema:
          type: string
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      responses:
        '200':
          description: Team
          content:
            application/json:
              schema:
                type: object
                description: Team model
                properties:
                  created_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  deleted_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                    default: 0
                  description:
                    type: string
                    default: ''
                    maxLength: 500
                  owner_id:
                    type: string
                    format: ksuid
                  parent_id:
                    type: string
                    format: ksuid
                  status:
                    type: string
                    default: active
                    enum:
                    - active
                    - inactive
                    - suspended
                    - deleted
                  team_id:
                    type: string
                    format: ksuid
                  title:
                    type: string
                    minLength: 2
                    maxLength: 50
                  updated_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                required:
                - team_id
                - owner_id
                - title
                - status
                - created_at
                - updated_at
              example:
                created_at: 1791072000
                deleted_at: 0
                description: ''
                owner_id: '000000000000000000000000001'
                parent_id: '000000000000000000000000001'
                status: active
                team_id: '000000000000000000000000001'
                title: Postman example
                updated_at: 1791072000
    put:
      operationId: public_put_v1_team_id
      tags:
      - Teams
      summary: Update team
      description: 'Updates an existing Team


        Set `team_id` using IDs from your own API responses.


        This request changes data or starts an action. Review the target and body
        before sending it.


        Request fields (the body contains an editable example):


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | `description` | string | no |  Default: `""`. |

        | `owner_id` | string | yes |  |

        | `parent_id` | string | no |  |

        | `status` | string | yes |  Allowed: active, inactive, suspended, deleted.
        Default: `"active"`. |

        | `title` | string | yes |  |'
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        description: Resource identifier from your team's API results.
        schema:
          type: string
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Team model
              properties:
                description:
                  type: string
                  default: ''
                  maxLength: 500
                owner_id:
                  type: string
                  format: ksuid
                parent_id:
                  type: string
                  format: ksuid
                status:
                  type: string
                  default: active
                  enum:
                  - active
                  - inactive
                  - suspended
                  - deleted
                title:
                  type: string
                  minLength: 2
                  maxLength: 50
              required:
              - owner_id
              - title
              - status
            example:
              owner_id: YOUR_USER_ID
              title: Postman example team
              status: active
      responses:
        '200':
          description: Team updated
          content:
            application/json:
              schema:
                type: object
                description: Team model
                properties:
                  created_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  deleted_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                    default: 0
                  description:
                    type: string
                    default: ''
                    maxLength: 500
                  owner_id:
                    type: string
                    format: ksuid
                  parent_id:
                    type: string
                    format: ksuid
                  status:
                    type: string
                    default: active
                    enum:
                    - active
                    - inactive
                    - suspended
                    - deleted
                  team_id:
                    type: string
                    format: ksuid
                  title:
                    type: string
                    minLength: 2
                    maxLength: 50
                  updated_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                required:
                - team_id
                - owner_id
                - title
                - status
                - created_at
                - updated_at
              example:
                created_at: 1791072000
                deleted_at: 0
                description: ''
                owner_id: '000000000000000000000000001'
                parent_id: '000000000000000000000000001'
                status: active
                team_id: '000000000000000000000000001'
                title: Postman example
                updated_at: 1791072000
    delete:
      operationId: public_delete_v1_team_id
      tags:
      - Teams
      summary: Delete team
      description: 'Deletes a Team


        Set `team_id` using IDs from your own API responses.


        This request changes data or starts an action. Review the target and body
        before sending it.'
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        description: Resource identifier from your team's API results.
        schema:
          type: string
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
              example:
                message: Deleted successfully
  /v1/workload:
    get:
      operationId: public_get_v1_workload
      tags:
      - Workloads
      summary: List workloads
      description: Returns a paginated list of Workload
      security:
      - BearerAuth: []
      parameters:
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      - in: query
        name: page
        required: false
        description: Page number
        schema:
          type: integer
          default: 1
          minimum: 1
      - in: query
        name: per_page
        required: false
        description: Items per page
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: List of Workload
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        allow_default_domain:
                          type: boolean
                          description: Whether to allow access via the default *.adios.run
                            domain when a custom domain is configured
                          default: true
                        branch:
                          type: string
                          description: Git branch or tag
                          default: main
                        build_id:
                          type: string
                          description: Link to specific build artifact
                        config:
                          type: object
                          description: Workload specific configuration (e.g. cron
                            schedule, queue name, db user)
                          additionalProperties:
                            type: string
                        created_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                        current_source_artifact_id:
                          type: string
                          description: API source artifact record for the currently
                            deployed build
                          default: ''
                        deleted_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                          default: 0
                        domain:
                          type: string
                          description: Generated *.adios.run hostname or a verified
                            user-owned custom domain; *.adios.dev and custom *.adios.run
                            assignments are reserved
                        env_vars:
                          type: object
                          additionalProperties:
                            type: string
                        image:
                          type: string
                          description: Docker image or rootfs location
                        name:
                          type: string
                          minLength: 3
                          maxLength: 60
                        node_id:
                          type: string
                          format: ksuid
                        parent_id:
                          type: string
                          format: ksuid
                        port:
                          type: integer
                          format: int32
                          description: Network port the workload listens on
                          default: 8080
                        region:
                          type: string
                          default: default
                        repository_url:
                          type: string
                          description: Git repository URL
                        requires:
                          type: object
                          description: List of required capabilities or services
                          additionalProperties:
                            type: string
                        resources:
                          type: object
                          description: Resource requirements (cpu, ram, disk)
                          additionalProperties:
                            type: string
                        status:
                          type: string
                          default: provisioning
                        team_id:
                          type: string
                          format: ksuid
                        template:
                          type: string
                          description: Template name and version (e.g. postgres:16)
                        type:
                          type: string
                          default: api
                          enum:
                          - app
                          - api
                          - worker
                          - function
                          - cron
                          - queue
                          - database
                          - cache
                        updated_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                        variant:
                          type: string
                          default: ''
                        version:
                          type: string
                          description: Semantic version or commit hash
                        volumes:
                          type: object
                          description: List of volume mounts
                          additionalProperties:
                            type: string
                        workload_id:
                          type: string
                          format: ksuid
                      required:
                      - workload_id
                      - team_id
                      - name
                      - allow_default_domain
                      - image
                      - type
                      - created_at
                      - updated_at
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page number
                      per_page:
                        type: integer
                        description: Number of items per page
                      total:
                        type: integer
                        description: Total number of items
              example:
                data:
                - allow_default_domain: true
                  branch: main
                  build_id: example
                  config: {}
                  created_at: 1791072000
                  current_source_artifact_id: ''
                  deleted_at: 0
                  domain: example
                  env_vars: {}
                  image: example
                  name: postman-example
                  node_id: '000000000000000000000000001'
                  parent_id: '000000000000000000000000001'
                  port: 8080
                  region: default
                  repository_url: example
                  requires: {}
                  resources: {}
                  status: provisioning
                  team_id: '000000000000000000000000001'
                  template: example
                  type: api
                  updated_at: 1791072000
                  variant: ''
                  version: example
                  volumes: {}
                  workload_id: '000000000000000000000000001'
                pagination:
                  page: 1
                  per_page: 1
                  total: 1
    post:
      operationId: public_post_v1_workload
      tags:
      - Workloads
      summary: Create workload
      description: 'Creates a new Workload


        This request changes data or starts an action. Review the target and body
        before sending it.


        Request fields (the body contains an editable example):


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | `allow_default_domain` | boolean | yes | Whether to allow access via the
        default \*.adios.run domain when a custom domain is configured Default: `true`.
        |

        | `branch` | string | no | Git branch or tag Default: `"main"`. |

        | `build_id` | string | no | Link to specific build artifact |

        | `config` | object | no | Workload specific configuration (e.g. cron schedule,
        queue name, db user) |

        | `current_source_artifact_id` | string | no | API source artifact record
        for the currently deployed build Default: `""`. |

        | `domain` | string | no | Generated \*.adios.run hostname or a verified user-owned
        custom domain; \*.adios.dev and custom \*.adios.run assignments are reserved
        |

        | `env_vars` | object | no |  |

        | `image` | string | yes | Docker image or rootfs location |

        | `name` | string | yes |  |

        | `node_id` | string | no |  |

        | `parent_id` | string | no |  |

        | `port` | integer | no | Network port the workload listens on Default: `8080`.
        |

        | `region` | string | no |  Default: `"default"`. |

        | `repository_url` | string | no | Git repository URL |

        | `requires` | object | no | List of required capabilities or services |

        | `resources` | object | no | Resource requirements (cpu, ram, disk) |

        | `status` | string | no |  Default: `"provisioning"`. |

        | `team_id` | string | yes |  |

        | `template` | string | no | Template name and version (e.g. postgres:16)
        |

        | `type` | string | yes |  Allowed: app, api, worker, function, cron, queue,
        database, cache. Default: `"api"`. |

        | `variant` | string | no |  Default: `""`. |

        | `version` | string | no | Semantic version or commit hash |

        | `volumes` | object | no | List of volume mounts |'
      security:
      - BearerAuth: []
      parameters:
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: User application workload
              properties:
                allow_default_domain:
                  type: boolean
                  description: Whether to allow access via the default *.adios.run
                    domain when a custom domain is configured
                  default: true
                branch:
                  type: string
                  description: Git branch or tag
                  default: main
                build_id:
                  type: string
                  description: Link to specific build artifact
                config:
                  type: object
                  description: Workload specific configuration (e.g. cron schedule,
                    queue name, db user)
                  additionalProperties:
                    type: string
                current_source_artifact_id:
                  type: string
                  description: API source artifact record for the currently deployed
                    build
                  default: ''
                domain:
                  type: string
                  description: Generated *.adios.run hostname or a verified user-owned
                    custom domain; *.adios.dev and custom *.adios.run assignments
                    are reserved
                env_vars:
                  type: object
                  additionalProperties:
                    type: string
                image:
                  type: string
                  description: Docker image or rootfs location
                name:
                  type: string
                  minLength: 3
                  maxLength: 60
                node_id:
                  type: string
                  format: ksuid
                parent_id:
                  type: string
                  format: ksuid
                port:
                  type: integer
                  format: int32
                  description: Network port the workload listens on
                  default: 8080
                region:
                  type: string
                  default: default
                repository_url:
                  type: string
                  description: Git repository URL
                requires:
                  type: object
                  description: List of required capabilities or services
                  additionalProperties:
                    type: string
                resources:
                  type: object
                  description: Resource requirements (cpu, ram, disk)
                  additionalProperties:
                    type: string
                status:
                  type: string
                  default: provisioning
                team_id:
                  type: string
                  format: ksuid
                template:
                  type: string
                  description: Template name and version (e.g. postgres:16)
                type:
                  type: string
                  default: api
                  enum:
                  - app
                  - api
                  - worker
                  - function
                  - cron
                  - queue
                  - database
                  - cache
                variant:
                  type: string
                  default: ''
                version:
                  type: string
                  description: Semantic version or commit hash
                volumes:
                  type: object
                  description: List of volume mounts
                  additionalProperties:
                    type: string
              required:
              - team_id
              - name
              - allow_default_domain
              - image
              - type
            example:
              team_id: YOUR_TEAM_ID
              name: postman-example
              type: api
              image: YOUR_WORKLOAD_IMAGE
              allow_default_domain: true
              port: 8080
              region: YOUR_REGION
      responses:
        '201':
          description: Workload created
          content:
            application/json:
              schema:
                type: object
                description: User application workload
                properties:
                  allow_default_domain:
                    type: boolean
                    description: Whether to allow access via the default *.adios.run
                      domain when a custom domain is configured
                    default: true
                  branch:
                    type: string
                    description: Git branch or tag
                    default: main
                  build_id:
                    type: string
                    description: Link to specific build artifact
                  config:
                    type: object
                    description: Workload specific configuration (e.g. cron schedule,
                      queue name, db user)
                    additionalProperties:
                      type: string
                  created_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  current_source_artifact_id:
                    type: string
                    description: API source artifact record for the currently deployed
                      build
                    default: ''
                  deleted_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                    default: 0
                  domain:
                    type: string
                    description: Generated *.adios.run hostname or a verified user-owned
                      custom domain; *.adios.dev and custom *.adios.run assignments
                      are reserved
                  env_vars:
                    type: object
                    additionalProperties:
                      type: string
                  image:
                    type: string
                    description: Docker image or rootfs location
                  name:
                    type: string
                    minLength: 3
                    maxLength: 60
                  node_id:
                    type: string
                    format: ksuid
                  parent_id:
                    type: string
                    format: ksuid
                  port:
                    type: integer
                    format: int32
                    description: Network port the workload listens on
                    default: 8080
                  region:
                    type: string
                    default: default
                  repository_url:
                    type: string
                    description: Git repository URL
                  requires:
                    type: object
                    description: List of required capabilities or services
                    additionalProperties:
                      type: string
                  resources:
                    type: object
                    description: Resource requirements (cpu, ram, disk)
                    additionalProperties:
                      type: string
                  status:
                    type: string
                    default: provisioning
                  team_id:
                    type: string
                    format: ksuid
                  template:
                    type: string
                    description: Template name and version (e.g. postgres:16)
                  type:
                    type: string
                    default: api
                    enum:
                    - app
                    - api
                    - worker
                    - function
                    - cron
                    - queue
                    - database
                    - cache
                  updated_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  variant:
                    type: string
                    default: ''
                  version:
                    type: string
                    description: Semantic version or commit hash
                  volumes:
                    type: object
                    description: List of volume mounts
                    additionalProperties:
                      type: string
                  workload_id:
                    type: string
                    format: ksuid
                required:
                - workload_id
                - team_id
                - name
                - allow_default_domain
                - image
                - type
                - created_at
                - updated_at
              example:
                allow_default_domain: true
                branch: main
                build_id: example
                config: {}
                created_at: 1791072000
                current_source_artifact_id: ''
                deleted_at: 0
                domain: example
                env_vars: {}
                image: example
                name: postman-example
                node_id: '000000000000000000000000001'
                parent_id: '000000000000000000000000001'
                port: 8080
                region: default
                repository_url: example
                requires: {}
                resources: {}
                status: provisioning
                team_id: '000000000000000000000000001'
                template: example
                type: api
                updated_at: 1791072000
                variant: ''
                version: example
                volumes: {}
                workload_id: '000000000000000000000000001'
  /v1/workload/{id}:
    get:
      operationId: public_get_v1_workload_id
      tags:
      - Workloads
      summary: Get workload
      description: 'Returns a single Workload


        Set `workload_id` using IDs from your own API responses.'
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        description: Resource identifier from your team's API results.
        schema:
          type: string
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      responses:
        '200':
          description: Workload
          content:
            application/json:
              schema:
                type: object
                description: User application workload
                properties:
                  allow_default_domain:
                    type: boolean
                    description: Whether to allow access via the default *.adios.run
                      domain when a custom domain is configured
                    default: true
                  branch:
                    type: string
                    description: Git branch or tag
                    default: main
                  build_id:
                    type: string
                    description: Link to specific build artifact
                  config:
                    type: object
                    description: Workload specific configuration (e.g. cron schedule,
                      queue name, db user)
                    additionalProperties:
                      type: string
                  created_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  current_source_artifact_id:
                    type: string
                    description: API source artifact record for the currently deployed
                      build
                    default: ''
                  deleted_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                    default: 0
                  domain:
                    type: string
                    description: Generated *.adios.run hostname or a verified user-owned
                      custom domain; *.adios.dev and custom *.adios.run assignments
                      are reserved
                  env_vars:
                    type: object
                    additionalProperties:
                      type: string
                  image:
                    type: string
                    description: Docker image or rootfs location
                  name:
                    type: string
                    minLength: 3
                    maxLength: 60
                  node_id:
                    type: string
                    format: ksuid
                  parent_id:
                    type: string
                    format: ksuid
                  port:
                    type: integer
                    format: int32
                    description: Network port the workload listens on
                    default: 8080
                  region:
                    type: string
                    default: default
                  repository_url:
                    type: string
                    description: Git repository URL
                  requires:
                    type: object
                    description: List of required capabilities or services
                    additionalProperties:
                      type: string
                  resources:
                    type: object
                    description: Resource requirements (cpu, ram, disk)
                    additionalProperties:
                      type: string
                  status:
                    type: string
                    default: provisioning
                  team_id:
                    type: string
                    format: ksuid
                  template:
                    type: string
                    description: Template name and version (e.g. postgres:16)
                  type:
                    type: string
                    default: api
                    enum:
                    - app
                    - api
                    - worker
                    - function
                    - cron
                    - queue
                    - database
                    - cache
                  updated_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  variant:
                    type: string
                    default: ''
                  version:
                    type: string
                    description: Semantic version or commit hash
                  volumes:
                    type: object
                    description: List of volume mounts
                    additionalProperties:
                      type: string
                  workload_id:
                    type: string
                    format: ksuid
                required:
                - workload_id
                - team_id
                - name
                - allow_default_domain
                - image
                - type
                - created_at
                - updated_at
              example:
                allow_default_domain: true
                branch: main
                build_id: example
                config: {}
                created_at: 1791072000
                current_source_artifact_id: ''
                deleted_at: 0
                domain: example
                env_vars: {}
                image: example
                name: postman-example
                node_id: '000000000000000000000000001'
                parent_id: '000000000000000000000000001'
                port: 8080
                region: default
                repository_url: example
                requires: {}
                resources: {}
                status: provisioning
                team_id: '000000000000000000000000001'
                template: example
                type: api
                updated_at: 1791072000
                variant: ''
                version: example
                volumes: {}
                workload_id: '000000000000000000000000001'
    put:
      operationId: public_put_v1_workload_id
      tags:
      - Workloads
      summary: Update workload
      description: 'Updates an existing Workload


        Set `workload_id` using IDs from your own API responses.


        This request changes data or starts an action. Review the target and body
        before sending it.


        Request fields (the body contains an editable example):


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | `allow_default_domain` | boolean | yes | Whether to allow access via the
        default \*.adios.run domain when a custom domain is configured Default: `true`.
        |

        | `branch` | string | no | Git branch or tag Default: `"main"`. |

        | `build_id` | string | no | Link to specific build artifact |

        | `config` | object | no | Workload specific configuration (e.g. cron schedule,
        queue name, db user) |

        | `current_source_artifact_id` | string | no | API source artifact record
        for the currently deployed build Default: `""`. |

        | `domain` | string | no | Generated \*.adios.run hostname or a verified user-owned
        custom domain; \*.adios.dev and custom \*.adios.run assignments are reserved
        |

        | `env_vars` | object | no |  |

        | `image` | string | yes | Docker image or rootfs location |

        | `name` | string | yes |  |

        | `node_id` | string | no |  |

        | `parent_id` | string | no |  |

        | `port` | integer | no | Network port the workload listens on Default: `8080`.
        |

        | `region` | string | no |  Default: `"default"`. |

        | `repository_url` | string | no | Git repository URL |

        | `requires` | object | no | List of required capabilities or services |

        | `resources` | object | no | Resource requirements (cpu, ram, disk) |

        | `status` | string | no |  Default: `"provisioning"`. |

        | `team_id` | string | yes |  |

        | `template` | string | no | Template name and version (e.g. postgres:16)
        |

        | `type` | string | yes |  Allowed: app, api, worker, function, cron, queue,
        database, cache. Default: `"api"`. |

        | `variant` | string | no |  Default: `""`. |

        | `version` | string | no | Semantic version or commit hash |

        | `volumes` | object | no | List of volume mounts |'
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        description: Resource identifier from your team's API results.
        schema:
          type: string
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: User application workload
              properties:
                allow_default_domain:
                  type: boolean
                  description: Whether to allow access via the default *.adios.run
                    domain when a custom domain is configured
                  default: true
                branch:
                  type: string
                  description: Git branch or tag
                  default: main
                build_id:
                  type: string
                  description: Link to specific build artifact
                config:
                  type: object
                  description: Workload specific configuration (e.g. cron schedule,
                    queue name, db user)
                  additionalProperties:
                    type: string
                current_source_artifact_id:
                  type: string
                  description: API source artifact record for the currently deployed
                    build
                  default: ''
                domain:
                  type: string
                  description: Generated *.adios.run hostname or a verified user-owned
                    custom domain; *.adios.dev and custom *.adios.run assignments
                    are reserved
                env_vars:
                  type: object
                  additionalProperties:
                    type: string
                image:
                  type: string
                  description: Docker image or rootfs location
                name:
                  type: string
                  minLength: 3
                  maxLength: 60
                node_id:
                  type: string
                  format: ksuid
                parent_id:
                  type: string
                  format: ksuid
                port:
                  type: integer
                  format: int32
                  description: Network port the workload listens on
                  default: 8080
                region:
                  type: string
                  default: default
                repository_url:
                  type: string
                  description: Git repository URL
                requires:
                  type: object
                  description: List of required capabilities or services
                  additionalProperties:
                    type: string
                resources:
                  type: object
                  description: Resource requirements (cpu, ram, disk)
                  additionalProperties:
                    type: string
                status:
                  type: string
                  default: provisioning
                team_id:
                  type: string
                  format: ksuid
                template:
                  type: string
                  description: Template name and version (e.g. postgres:16)
                type:
                  type: string
                  default: api
                  enum:
                  - app
                  - api
                  - worker
                  - function
                  - cron
                  - queue
                  - database
                  - cache
                variant:
                  type: string
                  default: ''
                version:
                  type: string
                  description: Semantic version or commit hash
                volumes:
                  type: object
                  description: List of volume mounts
                  additionalProperties:
                    type: string
              required:
              - team_id
              - name
              - allow_default_domain
              - image
              - type
            example:
              team_id: YOUR_TEAM_ID
              name: postman-example
              type: api
              image: YOUR_WORKLOAD_IMAGE
              allow_default_domain: true
              port: 8080
              region: YOUR_REGION
      responses:
        '200':
          description: Workload updated
          content:
            application/json:
              schema:
                type: object
                description: User application workload
                properties:
                  allow_default_domain:
                    type: boolean
                    description: Whether to allow access via the default *.adios.run
                      domain when a custom domain is configured
                    default: true
                  branch:
                    type: string
                    description: Git branch or tag
                    default: main
                  build_id:
                    type: string
                    description: Link to specific build artifact
                  config:
                    type: object
                    description: Workload specific configuration (e.g. cron schedule,
                      queue name, db user)
                    additionalProperties:
                      type: string
                  created_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  current_source_artifact_id:
                    type: string
                    description: API source artifact record for the currently deployed
                      build
                    default: ''
                  deleted_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                    default: 0
                  domain:
                    type: string
                    description: Generated *.adios.run hostname or a verified user-owned
                      custom domain; *.adios.dev and custom *.adios.run assignments
                      are reserved
                  env_vars:
                    type: object
                    additionalProperties:
                      type: string
                  image:
                    type: string
                    description: Docker image or rootfs location
                  name:
                    type: string
                    minLength: 3
                    maxLength: 60
                  node_id:
                    type: string
                    format: ksuid
                  parent_id:
                    type: string
                    format: ksuid
                  port:
                    type: integer
                    format: int32
                    description: Network port the workload listens on
                    default: 8080
                  region:
                    type: string
                    default: default
                  repository_url:
                    type: string
                    description: Git repository URL
                  requires:
                    type: object
                    description: List of required capabilities or services
                    additionalProperties:
                      type: string
                  resources:
                    type: object
                    description: Resource requirements (cpu, ram, disk)
                    additionalProperties:
                      type: string
                  status:
                    type: string
                    default: provisioning
                  team_id:
                    type: string
                    format: ksuid
                  template:
                    type: string
                    description: Template name and version (e.g. postgres:16)
                  type:
                    type: string
                    default: api
                    enum:
                    - app
                    - api
                    - worker
                    - function
                    - cron
                    - queue
                    - database
                    - cache
                  updated_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  variant:
                    type: string
                    default: ''
                  version:
                    type: string
                    description: Semantic version or commit hash
                  volumes:
                    type: object
                    description: List of volume mounts
                    additionalProperties:
                      type: string
                  workload_id:
                    type: string
                    format: ksuid
                required:
                - workload_id
                - team_id
                - name
                - allow_default_domain
                - image
                - type
                - created_at
                - updated_at
              example:
                allow_default_domain: true
                branch: main
                build_id: example
                config: {}
                created_at: 1791072000
                current_source_artifact_id: ''
                deleted_at: 0
                domain: example
                env_vars: {}
                image: example
                name: postman-example
                node_id: '000000000000000000000000001'
                parent_id: '000000000000000000000000001'
                port: 8080
                region: default
                repository_url: example
                requires: {}
                resources: {}
                status: provisioning
                team_id: '000000000000000000000000001'
                template: example
                type: api
                updated_at: 1791072000
                variant: ''
                version: example
                volumes: {}
                workload_id: '000000000000000000000000001'
    delete:
      operationId: public_delete_v1_workload_id
      tags:
      - Workloads
      summary: Delete workload
      description: 'Deletes a Workload


        Set `workload_id` using IDs from your own API responses.


        This request changes data or starts an action. Review the target and body
        before sending it.'
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        description: Resource identifier from your team's API results.
        schema:
          type: string
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
              example:
                message: Deleted successfully
  /v1/workspace:
    get:
      operationId: public_get_v1_workspace
      tags:
      - Workspaces
      summary: List workspaces
      description: Returns a paginated list of Workspace
      security:
      - BearerAuth: []
      parameters:
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      - in: query
        name: page
        required: false
        description: Page number
        schema:
          type: integer
          default: 1
          minimum: 1
      - in: query
        name: per_page
        required: false
        description: Items per page
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: List of Workspace
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        base_build_id:
                          type: string
                        base_source_artifact_id:
                          type: string
                          description: API source artifact record used to hydrate
                            the workspace
                          default: ''
                        branch:
                          type: string
                          default: ''
                        created_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                        deleted_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                          default: 0
                        metadata:
                          type: object
                          additionalProperties:
                            type: string
                        name:
                          type: string
                        owner_id:
                          type: string
                          format: ksuid
                        repository_url:
                          type: string
                          description: Git repository URL
                        runtime_status:
                          type: string
                          default: idle
                          enum:
                          - idle
                          - running
                          - stopped
                          - failed
                        source_manifest:
                          type: string
                          description: Project adios manifest path within the composed
                            workspace source root
                          default: adios.yaml
                        source_workdir:
                          type: string
                          description: Project working directory within the composed
                            workspace source root
                          default: .
                        status:
                          type: string
                          default: active
                          enum:
                          - active
                          - archived
                          - deleted
                        team_id:
                          type: string
                          format: ksuid
                        updated_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                        workload_id:
                          type: string
                          format: ksuid
                          default: ''
                        workspace_id:
                          type: string
                          format: ksuid
                      required:
                      - workspace_id
                      - team_id
                      - owner_id
                      - name
                      - status
                      - created_at
                      - updated_at
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page number
                      per_page:
                        type: integer
                        description: Number of items per page
                      total:
                        type: integer
                        description: Total number of items
              example:
                data:
                - base_build_id: example
                  base_source_artifact_id: ''
                  branch: ''
                  created_at: 1791072000
                  deleted_at: 0
                  metadata: {}
                  name: postman-example
                  owner_id: '000000000000000000000000001'
                  repository_url: example
                  runtime_status: idle
                  source_manifest: adios.yaml
                  source_workdir: .
                  status: active
                  team_id: '000000000000000000000000001'
                  updated_at: 1791072000
                  workload_id: ''
                  workspace_id: '000000000000000000000000001'
                pagination:
                  page: 1
                  per_page: 1
                  total: 1
    post:
      operationId: public_post_v1_workspace
      tags:
      - Workspaces
      summary: Create workspace
      description: 'Creates a new Workspace


        This request changes data or starts an action. Review the target and body
        before sending it.


        Request fields (the body contains an editable example):


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | `base_build_id` | string | no |  |

        | `base_source_artifact_id` | string | no | API source artifact record used
        to hydrate the workspace Default: `""`. |

        | `branch` | string | no |  Default: `""`. |

        | `metadata` | object | no |  |

        | `name` | string | yes |  |

        | `owner_id` | string | yes |  |

        | `repository_url` | string | no | Git repository URL |

        | `runtime_status` | string | no |  Allowed: idle, running, stopped, failed.
        Default: `"idle"`. |

        | `source_manifest` | string | no | Project adios manifest path within the
        composed workspace source root Default: `"adios.yaml"`. |

        | `source_workdir` | string | no | Project working directory within the composed
        workspace source root Default: `"."`. |

        | `status` | string | yes |  Allowed: active, archived, deleted. Default:
        `"active"`. |

        | `team_id` | string | yes |  |

        | `workload_id` | string | no |  Default: `""`. |'
      security:
      - BearerAuth: []
      parameters:
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Per-app development workspace for AI and users
              properties:
                base_build_id:
                  type: string
                base_source_artifact_id:
                  type: string
                  description: API source artifact record used to hydrate the workspace
                  default: ''
                branch:
                  type: string
                  default: ''
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                name:
                  type: string
                owner_id:
                  type: string
                  format: ksuid
                repository_url:
                  type: string
                  description: Git repository URL
                runtime_status:
                  type: string
                  default: idle
                  enum:
                  - idle
                  - running
                  - stopped
                  - failed
                source_manifest:
                  type: string
                  description: Project adios manifest path within the composed workspace
                    source root
                  default: adios.yaml
                source_workdir:
                  type: string
                  description: Project working directory within the composed workspace
                    source root
                  default: .
                status:
                  type: string
                  default: active
                  enum:
                  - active
                  - archived
                  - deleted
                team_id:
                  type: string
                  format: ksuid
                workload_id:
                  type: string
                  format: ksuid
                  default: ''
              required:
              - team_id
              - owner_id
              - name
              - status
            example:
              team_id: YOUR_TEAM_ID
              owner_id: YOUR_USER_ID
              name: postman-workspace
              status: active
              workload_id: YOUR_WORKLOAD_ID
      responses:
        '201':
          description: Workspace created
          content:
            application/json:
              schema:
                type: object
                description: Per-app development workspace for AI and users
                properties:
                  base_build_id:
                    type: string
                  base_source_artifact_id:
                    type: string
                    description: API source artifact record used to hydrate the workspace
                    default: ''
                  branch:
                    type: string
                    default: ''
                  created_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  deleted_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                    default: 0
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                  name:
                    type: string
                  owner_id:
                    type: string
                    format: ksuid
                  repository_url:
                    type: string
                    description: Git repository URL
                  runtime_status:
                    type: string
                    default: idle
                    enum:
                    - idle
                    - running
                    - stopped
                    - failed
                  source_manifest:
                    type: string
                    description: Project adios manifest path within the composed workspace
                      source root
                    default: adios.yaml
                  source_workdir:
                    type: string
                    description: Project working directory within the composed workspace
                      source root
                    default: .
                  status:
                    type: string
                    default: active
                    enum:
                    - active
                    - archived
                    - deleted
                  team_id:
                    type: string
                    format: ksuid
                  updated_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  workload_id:
                    type: string
                    format: ksuid
                    default: ''
                  workspace_id:
                    type: string
                    format: ksuid
                required:
                - workspace_id
                - team_id
                - owner_id
                - name
                - status
                - created_at
                - updated_at
              example:
                base_build_id: example
                base_source_artifact_id: ''
                branch: ''
                created_at: 1791072000
                deleted_at: 0
                metadata: {}
                name: postman-example
                owner_id: '000000000000000000000000001'
                repository_url: example
                runtime_status: idle
                source_manifest: adios.yaml
                source_workdir: .
                status: active
                team_id: '000000000000000000000000001'
                updated_at: 1791072000
                workload_id: ''
                workspace_id: '000000000000000000000000001'
  /v1/workspace/{id}:
    get:
      operationId: public_get_v1_workspace_id
      tags:
      - Workspaces
      summary: Get workspace
      description: 'Returns a single Workspace


        Set `workspace_id` using IDs from your own API responses.'
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        description: Resource identifier from your team's API results.
        schema:
          type: string
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      responses:
        '200':
          description: Workspace
          content:
            application/json:
              schema:
                type: object
                description: Per-app development workspace for AI and users
                properties:
                  base_build_id:
                    type: string
                  base_source_artifact_id:
                    type: string
                    description: API source artifact record used to hydrate the workspace
                    default: ''
                  branch:
                    type: string
                    default: ''
                  created_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  deleted_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                    default: 0
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                  name:
                    type: string
                  owner_id:
                    type: string
                    format: ksuid
                  repository_url:
                    type: string
                    description: Git repository URL
                  runtime_status:
                    type: string
                    default: idle
                    enum:
                    - idle
                    - running
                    - stopped
                    - failed
                  source_manifest:
                    type: string
                    description: Project adios manifest path within the composed workspace
                      source root
                    default: adios.yaml
                  source_workdir:
                    type: string
                    description: Project working directory within the composed workspace
                      source root
                    default: .
                  status:
                    type: string
                    default: active
                    enum:
                    - active
                    - archived
                    - deleted
                  team_id:
                    type: string
                    format: ksuid
                  updated_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  workload_id:
                    type: string
                    format: ksuid
                    default: ''
                  workspace_id:
                    type: string
                    format: ksuid
                required:
                - workspace_id
                - team_id
                - owner_id
                - name
                - status
                - created_at
                - updated_at
              example:
                base_build_id: example
                base_source_artifact_id: ''
                branch: ''
                created_at: 1791072000
                deleted_at: 0
                metadata: {}
                name: postman-example
                owner_id: '000000000000000000000000001'
                repository_url: example
                runtime_status: idle
                source_manifest: adios.yaml
                source_workdir: .
                status: active
                team_id: '000000000000000000000000001'
                updated_at: 1791072000
                workload_id: ''
                workspace_id: '000000000000000000000000001'
    put:
      operationId: public_put_v1_workspace_id
      tags:
      - Workspaces
      summary: Update workspace
      description: 'Updates an existing Workspace


        Set `workspace_id` using IDs from your own API responses.


        This request changes data or starts an action. Review the target and body
        before sending it.


        Request fields (the body contains an editable example):


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | `base_build_id` | string | no |  |

        | `base_source_artifact_id` | string | no | API source artifact record used
        to hydrate the workspace Default: `""`. |

        | `branch` | string | no |  Default: `""`. |

        | `metadata` | object | no |  |

        | `name` | string | yes |  |

        | `owner_id` | string | yes |  |

        | `repository_url` | string | no | Git repository URL |

        | `runtime_status` | string | no |  Allowed: idle, running, stopped, failed.
        Default: `"idle"`. |

        | `source_manifest` | string | no | Project adios manifest path within the
        composed workspace source root Default: `"adios.yaml"`. |

        | `source_workdir` | string | no | Project working directory within the composed
        workspace source root Default: `"."`. |

        | `status` | string | yes |  Allowed: active, archived, deleted. Default:
        `"active"`. |

        | `team_id` | string | yes |  |

        | `workload_id` | string | no |  Default: `""`. |'
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        description: Resource identifier from your team's API results.
        schema:
          type: string
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Per-app development workspace for AI and users
              properties:
                base_build_id:
                  type: string
                base_source_artifact_id:
                  type: string
                  description: API source artifact record used to hydrate the workspace
                  default: ''
                branch:
                  type: string
                  default: ''
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                name:
                  type: string
                owner_id:
                  type: string
                  format: ksuid
                repository_url:
                  type: string
                  description: Git repository URL
                runtime_status:
                  type: string
                  default: idle
                  enum:
                  - idle
                  - running
                  - stopped
                  - failed
                source_manifest:
                  type: string
                  description: Project adios manifest path within the composed workspace
                    source root
                  default: adios.yaml
                source_workdir:
                  type: string
                  description: Project working directory within the composed workspace
                    source root
                  default: .
                status:
                  type: string
                  default: active
                  enum:
                  - active
                  - archived
                  - deleted
                team_id:
                  type: string
                  format: ksuid
                workload_id:
                  type: string
                  format: ksuid
                  default: ''
              required:
              - team_id
              - owner_id
              - name
              - status
            example:
              team_id: YOUR_TEAM_ID
              owner_id: YOUR_USER_ID
              name: postman-workspace
              status: active
              workload_id: YOUR_WORKLOAD_ID
      responses:
        '200':
          description: Workspace updated
          content:
            application/json:
              schema:
                type: object
                description: Per-app development workspace for AI and users
                properties:
                  base_build_id:
                    type: string
                  base_source_artifact_id:
                    type: string
                    description: API source artifact record used to hydrate the workspace
                    default: ''
                  branch:
                    type: string
                    default: ''
                  created_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  deleted_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                    default: 0
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                  name:
                    type: string
                  owner_id:
                    type: string
                    format: ksuid
                  repository_url:
                    type: string
                    description: Git repository URL
                  runtime_status:
                    type: string
                    default: idle
                    enum:
                    - idle
                    - running
                    - stopped
                    - failed
                  source_manifest:
                    type: string
                    description: Project adios manifest path within the composed workspace
                      source root
                    default: adios.yaml
                  source_workdir:
                    type: string
                    description: Project working directory within the composed workspace
                      source root
                    default: .
                  status:
                    type: string
                    default: active
                    enum:
                    - active
                    - archived
                    - deleted
                  team_id:
                    type: string
                    format: ksuid
                  updated_at:
                    type: integer
                    format: int64
                    description: ' (Unix timestamp)'
                  workload_id:
                    type: string
                    format: ksuid
                    default: ''
                  workspace_id:
                    type: string
                    format: ksuid
                required:
                - workspace_id
                - team_id
                - owner_id
                - name
                - status
                - created_at
                - updated_at
              example:
                base_build_id: example
                base_source_artifact_id: ''
                branch: ''
                created_at: 1791072000
                deleted_at: 0
                metadata: {}
                name: postman-example
                owner_id: '000000000000000000000000001'
                repository_url: example
                runtime_status: idle
                source_manifest: adios.yaml
                source_workdir: .
                status: active
                team_id: '000000000000000000000000001'
                updated_at: 1791072000
                workload_id: ''
                workspace_id: '000000000000000000000000001'
    delete:
      operationId: public_delete_v1_workspace_id
      tags:
      - Workspaces
      summary: Delete workspace
      description: 'Deletes a Workspace


        Set `workspace_id` using IDs from your own API responses.


        This request changes data or starts an action. Review the target and body
        before sending it.'
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: id
        required: true
        description: Resource identifier from your team's API results.
        schema:
          type: string
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
              example:
                message: Deleted successfully
  /v1/workspace_source:
    get:
      operationId: public_get_v1_workspace_source
      tags:
      - Workspace sources
      summary: List workspace sources
      description: Returns a paginated list of WorkspaceSource
      security:
      - BearerAuth: []
      parameters:
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      - in: query
        name: page
        required: false
        description: Page number
        schema:
          type: integer
          default: 1
          minimum: 1
      - in: query
        name: per_page
        required: false
        description: Items per page
        schema:
          type: integer
          default: 20
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: List of WorkspaceSource
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        alias:
                          type: string
                        branch:
                          type: string
                          default: main
                        commit:
                          type: string
                          default: ''
                        created_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                        deleted_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                          default: 0
                        external_auth_ref:
                          type: string
                          description: Credential reference only; secret values are
                            never persisted here
                          default: ''
                        external_connection_id:
                          type: string
                          default: ''
                        external_provider:
                          type: string
                          default: none
                          enum:
                          - none
                          - github
                          - gitlab
                          - bitbucket
                          - ssh
                          - git
                        external_repository_url:
                          type: string
                          default: ''
                        internal_repository_id:
                          type: string
                          format: ksuid
                          description: Authoritative repository in Adios Git
                        internal_repository_url:
                          type: string
                          description: Credential-free clone URL for the authoritative
                            Adios Git repository
                        last_synced_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                          default: 0
                        metadata:
                          type: object
                          additionalProperties:
                            type: string
                        mount:
                          type: string
                          default: .
                        repository_path:
                          type: string
                          default: .
                        role:
                          type: string
                          default: include
                          enum:
                          - primary
                          - include
                        source_key:
                          type: string
                          description: Credential-free logical identity used to reuse
                            one internal repository across workspaces
                          default: ''
                        status:
                          type: string
                          default: active
                          enum:
                          - active
                          - archived
                        sync_direction:
                          type: string
                          default: none
                          enum:
                          - none
                          - pull
                          - push
                          - bidirectional
                        sync_error:
                          default: ''
                        sync_status:
                          type: string
                          default: internal_only
                          enum:
                          - internal_only
                          - pending
                          - synced
                          - ahead
                          - behind
                          - diverged
                          - error
                        team_id:
                          type: string
                          format: ksuid
                        updated_at:
                          type: integer
                          format: int64
                          description: ' (Unix timestamp)'
                        workspace_id:
                          type: string
                          format: ksuid
                        workspace_source_id:
                          type: string
                          format: ksuid
                      required:
                      - workspace_source_id
                      - team_id
                      - workspace_id
                      - alias
                      - role
                      - source_key
                      - internal_repository_id
                      - internal_repository_url
                      - branch
                      - repository_path
                      - mount
                      - external_provider
                      - sync_direction
                      - sync_status
                      - status
                      - created_at
                      - updated_at
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                        description: Current page number
                      per_page:
                        type: integer
                        description: Number of items per page
                      total:
                        type: integer
                        description: Total number of items
              example:
                data:
                - alias: example
                  branch: main
                  commit: ''
                  created_at: 1791072000
                  deleted_at: 0
                  external_auth_ref: ''
                  external_connection_id: ''
                  external_provider: none
                  external_repository_url: ''
                  internal_repository_id: '000000000000000000000000001'
                  internal_repository_url: example
                  last_synced_at: 0
                  metadata: {}
                  mount: .
                  repository_path: .
                  role: include
                  source_key: ''
                  status: active
                  sync_direction: none
                  sync_error: ''
                  sync_status: internal_only
                  team_id: '000000000000000000000000001'
                  updated_at: 1791072000
                  workspace_id: '000000000000000000000000001'
                  workspace_source_id: '000000000000000000000000001'
                pagination:
                  page: 1
                  per_page: 1
                  total: 1
    post:
      operationId: public_post_v1_workspace_source
      tags:
      - Workspace sources
      summary: Create workspace source
      description: 'Creates a new WorkspaceSource


        This request changes data or starts an action. Review the target and body
        before sending it.


        Request fields (the body contains an editable example):


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | `alias` | string | yes |  |

        | `branch` | string | yes |  Default: `"main"`. |

        | `commit` | string | no |  Default: `""`. |

        | `external_auth_ref` | string | no | Credential reference only; secret values
        are never persisted here Default: `""`. |

        | `external_connection_id` | string | no |  Default: `""`. |

        | `external_provider` | string | yes |  Allowed: none, github, gitlab, bitbucket,
        ssh, git. Default: `"none"`. |

        | `external_repository_url` | string | no |  Default: `""`. |

        | `internal_repository_id` | string | yes | Authoritative repository in Adios
        Git |

        | `internal_repository_url` | string | yes | Credential-free clone URL for
        the authoritative Adios Git repository |

        | `last_synced_at` | integer | no | (Unix timestamp) Default: `0`. |

        | `metadata` | object | no |  |

        | `mount` | string | yes |  Default: `"."`. |

        | `repository_path` | string | yes |  Default: `"."`. |

        | `role` | string | yes |  Allowed: primary, include. Default: `"include"`.
        |

        | `source_key` | string | yes | Credential-free logical identity used to reuse
        one internal repository across workspaces Default: `""`. |

        | `status` | string | yes |  Allowed: active, archived. Default: `"active"`.
        |

        | `sync_direction` | string | yes |  Allowed: none, pull, push, bidirectional.
        Default: `"none"`. |

        | `sync_error` | object | no |  Default: `""`. |

        | `sync_status` | string | yes |  Allowed: internal_only, pending, synced,
        ahead, behind, diverged, error. Default: `"internal_only"`. |

        | `team_id` | string | yes |  |

        | `workspace_id` | string | yes |  |'
      security:
      - BearerAuth: []
      parameters:
      - in: header
        name: X-Tenant-ID
        required: true
        description: Active team ID. Must match the tenant bound to a diagnostic token.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: One internal Adios Git repository mounted into a workspace,
                with optional external synchronization
              properties:
                alias:
                  type: string
                branch:
                  type: string
                  default: main
                commit:
                  type: string
                  default: ''
                external_auth_ref:
                  type: string
                  description: Credential reference only; secret values are never
                    persisted here
                  default: ''
                external_connection_id:
                  type: string
                  default: ''
                external_provider:
                  type: string
                  default: none
                  enum:
                  - none
                  - github
                  - gitlab
                  - bitbucket
                  - ssh
                  - git
                external_repository_url:
                  type: string
                  default: ''
                internal_repository_id:
                  type: string
                  format: ksuid
                  description: Authoritative repository in Adios Git
                internal_repository_url:
                  type: string
                  description: Credential-free clone URL for the authoritative Adios
                    Git repository
                last_synced_at:
                  type: integer
                  format: int64
                  description: ' (Unix timestamp)'
                  default: 0
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                mount:
                  type: string
                  default: .
                repository_path:
                  type: string
                  default: .
                role:
                  type: string
                  default: include
                  enum:
                  - primary
                  - include
                source_key:
                  type: string
                  description: Credential-free logical identity used to reuse one
                    internal repository across workspaces
                  default: ''
                status:
                  type: string
                  default: active
                  enum:
                  - active
                  - archived
                sync_direction:
                  type: string
                  default: none
                  enum:
                  - none
                  - pull
                  - push
                  - bidirectional
                sync_error:
                  default: ''
                sync_status:
                  type: string
                  default: internal_only
                  enum:
                  - internal_only
                  - pending
                  - synced
                  - ahead
                  - behind
                  - diverged
                  - error
                team_id:
                  type: string
                  format: ksuid
                workspace_id:
                  type: string
                  format: ksuid
              required:
              - team_id
              - workspace_id
              - alias
              - role
              - source_key
              - internal_repository_id
              - internal_repository_url
              - branch
              - repository_path
              - mount
              - external_provider
              - sync_direction
              - sync_status
              - status
            example:
              alias: example
              branch: main
              commit: ''
              external_auth_ref: ''
              external_connection_id: ''
              external_provider: none
              external_repository_url: ''
              internal_repository_id: YOUR_INTERNAL_REPOSITORY_ID
              internal_repository_url: YOUR_INTERNAL_REPOSITORY_URL
              last_synced_at: 0
              mount: .
              repository_path: .
              role: include
              source_key: ''
              status: active
              sync_direction: none
              sync_error: ''
              sync_status: internal_only
              team_id: YOUR_TEAM_ID
              workspace_id: YOUR_WORKSPACE_ID
[...]
